body {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  display: flex;
  align-items: stretch;
}
.menu ul.mm {
  align-items: flex-end;
  position: relative;
  top: 40px;
}
.menu ul li {
  display: inline;
  margin: 40px;
  padding: 10px;
  list-style-type: none;
}
.menu a {
  color: rgb(80, 56, 47);
  font-size: 20px;
}
.menu a:hover {
  color: black;
}
a {
  text-decoration: none;
}
.h {
  color: black;
  font-size: 18px;
  font-weight: 400px;
  background-color: #eaeaea;
}
.kr {
  color: #707070;
  font-size: 14px;
  font-style: 16px;
  line-height: 16px;
}
.po {
  color: #484343;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  text-align: left;
}
.har {
  color: #3a3434;
  font-weight: 400px;
  list-style-image: url("https://img.icons8.com/plasticine/20/000000/clock.png");
}
.har li {
  margin: 10px;
}
input {
  width: 200px;
  height: 30px;
  color: #272020;
  font-size: 20px;
  text-transform: capitalize;
}
textarea {
  width: 200px;
  height: 130px;
  color: #272020;
  font-size: 20px;
  text-transform: capitalize;
}
img.img_border {
  border: 2px solid rgb(199, 185, 166);
  padding: 5px;
}
img.img_border:hover {
  border: none;
  position: relative;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}
img.logo {
  width: 100px;
  height: 100px;
  margin: 20px;
}
.email:focus {
  background-color: antiquewhite;
  color: rgb(52, 58, 58);
}
table {
  border-collapse: collapse;
  border: 3px solid rgb(90, 84, 76);
}
tr {
  border: 2px solid #ccc;
}
td,
th {
  border: 2px solid #ccc;
}
.one {
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
}
